html {
  background-color: aliceblue;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

header,
.hero {
  border: 2px solid #333;
  margin-bottom: 50px;
  text-align: center;
}

.product-grid {
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  width: 200px;
  padding: 15px;
}

img {
  width: 150px;
  height: 150px;
}
